@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,125,200..1000;1,6..12,125,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kanit", sans-serif;
}

header{
    background-color:#1b1f24;
    padding:20px;
    /* color: #RRFFBB; */
    color:#FFF ;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
/*  header(logo) */
header a{
    text-decoration:none;
    
   
}

/*  header(logo) */
.logo{
font-weight: bolder;
color:#12bdff;
letter-spacing: 3px;
}



  ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

 header ul li{
    margin: 30px;
}


ul li a{
 color: #FFF;
 text-decoration: none;

}

ul li a:hover{
    color:#12bdff;
    text-decoration-color: #12bdff;
    text-decoration:underline;
   
   }

/* header>button */
button{
    padding: 10px;
    font-weight: 600;
    background-color: #1b1f24;
    border: 1px solid #12bdff ;
    color: #12bdff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    padding: 10px;
    font-weight: 600;
    background-color:#12bdff;
    border: 1px solid #12bdff ;
    box-shadow: 10px 05px 5px 3px #21343b;
    color: #feffff;
    border-radius: 5px;
    cursor: pointer;
}

 /* home page */
 section.header-section{
    background-color: #1b1f24;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 20px 90px 0  90px;
}

.header-section-h2{
    font-size: 40px;
}

.header-section-p{
    font-size: 20px;
    padding-bottom: 10px;
}

.section-social-icon{
    margin: 0px;
    padding:0 5px;

}
.section-social-icon li > a i.fa-instagram:hover{
    color:purple;

}

.section-social-icon li > a i.fa-linkedin:hover{
    color:#FFF;

}

.section-social-icon li > a i.fa-twitter:hover{
    color:rgb(52, 129, 223);

}


.section-img{
   margin-top: 30px;
   height: 800px;
   mix-blend-mode: hard-light;
}

.btn{
    margin: 5px;
    padding: 10px;
}

.header-section-h2 span{
    color: #12bdff;
}