@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,125,200..1000;1,6..12,125,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Kanit", sans-serif;
}

header{
    background-color:#1b1f24;
    padding:20px;
    /* color: #RRFFBB; */
    color:#FFF ;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
/*  header(logo) */
header a{
    text-decoration:none;
    
   
}

/*  header(logo) */
.logo{
font-weight: bolder;
color:#12bdff;
letter-spacing: 3px;
}



ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

ul li{
    margin: 5px;
}


ul li a{
 color: #FFF;
 text-decoration: none;

}

ul li a:hover{
    color:#12bdff;
    text-decoration-color: #12bdff;
    text-decoration:underline;
   
   }

/* header>button */
button{
    padding: 10px;
    font-weight: 600;
    background-color: #1b1f24;
    border: 1px solid #12bdff ;
    color: #12bdff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    padding: 10px;
    font-weight: 600;
    background-color:#12bdff;
    border: 1px solid #12bdff ;
    box-shadow: 10px 05px 5px 3px #21343b;
    color: #feffff;
    border-radius: 5px;
    cursor: pointer;
}
